# Node.js
node_modules/
.expo/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.env/
db.sqlite3

# Windows
Thumbs.db
Desktop.ini

# IDEs and Tools
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
